body {
    background-color: darkorchid;
   font-family: fantasy;
    
    footer {
       background-color: violet;
       color: pink;
       position: fixed;
       botton: 0;
       width: 100%;
       height: 2rem;
    }
      footer p {
       text-aling: center;
       font-size: 0.6rem;

      }

       #container{
         display: flex;
       }
       .cartao{
         margin: 1rem 1rem;
       }
   
   
   
   
   
   
   
   